---
networks:
  traefik_proxy:
    external: true

services:
  app:
    build: "./"
    image: "{{ dapp_rsyslog_docker_image }}"
    restart: unless-stopped
    logging:
      driver: journald
      options:
        tag: "rsyslog"
    networks:
      - traefik_proxy
{% if dapp_rsyslog_ports is defined %}
    ports: {{ dapp_rsyslog_ports }}
{% endif %}
{% if dapp_rsyslog_docker_mem_limit is defined %}
    mem_limit: {{ dapp_rsyslog_docker_mem_limit }}
{% endif %}
    environment:
      {{ dapp_rsyslog_docker_environment|indent(6) }}
    healthcheck:
      {{ dapp_rsyslog_docker_healthcheck|indent(6) }}
    volumes:
      - "./data:/data"
      - "./rsyslog.conf:/rsyslog.conf"
      - "./entrypoint.sh:/entrypoint.sh"
{% if dapp_rsyslog_extra_files is defined %}
{% for file in dapp_rsyslog_extra_files %}
{% if file.container_path is defined %}
      - "./{{ file.name }}:{{ file.container_path }}"
{% endif %}
{% endfor %}
{% endif %}
{% if dapp_rsyslog_docker_external_links is defined %}
    external_links: {{ dapp_rsyslog_docker_external_links }}
{% endif %}
    labels:
      traefik.enable: "false"
