---
- name: Build containers
  ansible.builtin.shell: |
    docker compose --project-directory "{{ _docker_project_dir }}" build
  listen:
    - Rebuild containers

- name: Stop and remove containers
  ansible.builtin.shell: |
    docker compose --project-directory "{{ _docker_project_dir }}" down
  listen:
    - Rebuild containers
    - Down containers

- name: Create and start containers
  ansible.builtin.shell: |
    docker compose --project-directory "{{ _docker_project_dir }}" up -d
  listen:
    - Rebuild containers
    - Up containers

- name: Restart containers
  ansible.builtin.shell: |
    docker compose --project-directory "{{ _docker_project_dir }}" restart

- name: Start containers
  ansible.builtin.shell: |
    docker compose --project-directory "{{ _docker_project_dir }}" start

- name: Stop containers
  ansible.builtin.shell: |
    docker compose --project-directory "{{ _docker_project_dir }}" stop
