---
dapp_grafana_docker_image: "docker.io/grafana/grafana"

dapp_grafana_admin_password: secret

dapp_grafana_docker_environment: |
  {{ dapp_common_docker_environment }}

# Link services managed outside of your application.
# dapp_grafana_docker_external_links:
#   - extservice:intservice

dapp_grafana_docker_healthcheck: |
  {{ dapp_common_docker_healthcheck }}

# dapp_grafana_docker_mem_limit: 512M

# service address
dapp_grafana_traefik_address: "grafana.{{ dapp_common_domain }}"

dapp_grafana_volumes:
  - "data:/var/lib/grafana/"
  - "./grafana_dashboards:/var/lib/grafana/dashboards/"
  - "./grafana_datasources.yml:/etc/grafana/provisioning/datasources/datasources.yml"
  - "./grafana_providers.yml:/etc/grafana/provisioning/dashboards/providers.yml"

# Grafana plugins to install
dapp_grafana_install_plugins: "grafana-piechart-panel,vonage-status-panel"

# grafana.env
dapp_grafana_env: |
  GF_SECURITY_ADMIN_PASSWORD={{ dapp_grafana_admin_password }}
  GF_SERVER_ROOT_URL=http://localhost:3000
  GF_SMTP_ENABLED=false
  GF_INSTALL_PLUGINS={{ dapp_grafana_install_plugins }}
  GF_AUTH_ANONYMOUS_ENABLED=true
  GF_AUTH_ANONYMOUS_ORG_NAME=Main Org.
  GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
  GF_AUTH_LDAP_ENABLED={{ true if dapp_grafana_ldap_toml is defined else false }}
  GF_AUTH_LDAP_CONFIG_FILE=/etc/grafana/ldap.toml

# grafana_datasources.yml
dapp_grafana_datasources_yml: |
  apiVersion: 1
  # list of datasources that should be deleted from the database
  deleteDatasources:
    - name: Prometheus
      orgId: 1
  datasources:
    - name: Prometheus
      type: prometheus
      access: proxy
      orgId: 1
      url: http://prometheus:9090/
      version: 1
      editable: false
      isDefault: true
      jsonData:
        label: "default"

# grafana_providers.yml
dapp_grafana_providers_yml: |
  apiVersion: 1
  providers:
    - name: dashboards
      orgId: 1
      folder: ''
      folderUid: ''
      type: file
      disableDeletion: false
      editable: true
      updateIntervalSeconds: 10
      allowUiUpdates: false
      options:
        path: /var/lib/grafana/dashboards
        foldersFromFilesStructure: true

# grafana_ldap.toml
# dapp_grafana_ldap_toml: |
#   # https://grafana.com/docs/grafana/latest/auth/ldap/
# 
#   [[servers]]
#   host = "ldap.example.com"
#   port = 636
#   use_ssl = true
#   start_tls = false
#   ssl_skip_verify = false
#   bind_dn = "uid=bender,cn=users,cn=accounts,dc=example,dc=com"
#   bind_password = "secret"
#   search_filter = "(uid=%s)"
#   search_base_dns = ["cn=users,cn=accounts,dc=example,dc=com"]
# 
#   [servers.attributes]
#   name = "givenName"
#   surname = "sn"
#   username = "uid"
#   member_of = "memberOf"
#   email =  "mail"
# 
#   # group mapping
#   [[servers.group_mappings]]
#   group_dn = "cn=admin,cn=groups,cn=accounts,dc=example,dc=com"
#   org_role = "Admin"
#   grafana_admin = true
#   org_id = 1
# 
#   [[servers.group_mappings]]
#   group_dn = "cn=editor,cn=groups,cn=accounts,dc=example,dc=com"
#   org_role = "Editor"
#   grafana_admin = false
#   org_id = 1
# 
#   [[servers.group_mappings]]
#   group_dn = "cn=viewer,cn=groups,cn=accounts,dc=example,dc=com"
#   org_role = "Viewer"
#   grafana_admin = false
#   org_id = 1
